        @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
.slide-bg-1 {
    background-image: url(../img/slider/slide-bg-1.jpg)
}

.slide-bg-2 {
    background-image: url(../img/slider/slide-bg-2.jpg)
}

.service-bg-1 {
    background-image: url(../img/service/service-bg-0.jpg)
}

.service-bg-2 {
    background-image: url(../img/service/service-bg-2.jpg)
}

.project-bg-1 {
    background-image: url(../img/box/boxed-bg-1.jpg)
}

.project-bg-2 {
    background-image: url(../img/box/boxed-bg-2.jpg)
}

.project-bg-3 {
    background-image: url(../img/box/boxed-bg-3.jpg)
}

.blog-bg-1 {
    background-image: url(../img/blog/blog-bg-1.jpg)
}

.blog-bg-2 {
    background-image: url(../img/blog/blog-bg-2.jpg)
}

.blog-bg-3 {
    background-image: url(../img/blog/blog-bg-3.jpg)
}
.team-bg-1 {
    background-image: url(../img/team/team-bg-1.jpg)
}
.team-bg-2 {
    background-image: url(../img/team/team-bg-2.jpg)
}
.team-bg-3 {
    background-image: url(../img/team/team-bg-3.jpg)
}
.team-bg-4 {
    background-image: url(../img/team/team-bg-4.jpg)
}
.team-bg-5 {
    background-image: url(../img/team/team-bg-5.jpg)
}
.team-bg-6 {
    background-image: url(../img/team/team-bg-6.jpg)
}

.work-bg-1 {
    background-image: url(../img/work/work-bg-1.jpg)
}
.work-bg-2 {
    background-image: url(../img/work/work-bg-2.jpg)
}
.work-bg-3 {
    background-image: url(../img/work/work-bg-3.jpg)
}
.work-bg-4 {
    background-image: url(../img/work/work-bg-4.jpg)
}
.work-bg-5 {
    background-image: url(../img/work/work-bg-5.jpg)
}
.work-bg-6 {
    background-image: url(../img/work/work-bg-6.jpg)
}


input[type="submit"] {
    background: #f7be49 none repeat scroll 0 0;
    border: medium none;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 30px;
    text-transform: uppercase;
}

h3 {
    font-size: 22px;
    font-weight: 700;
}

.spacer-85 {
    height: 85px;
}

.spacer-45 {
    height: 45px;
}



.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}
@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
.spinner-2 {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout2 1.0s infinite ease-in-out;
    animation: sk-scaleout2 1.0s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout2 {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}
@keyframes sk-scaleout2 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}
.factory-site-preloader-wrap {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.factory-site-preloader-wrap .spinner-2 {
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    line-height: 28px;
}

.header-top-area {
    background-color: #222;
    font-size: 15px;
    padding: 10px 0;
}

.header-top-area a,
.header-top-area {
    color: #fff;
}

.header-top-area i.fa {
    color: #f7be49;
    margin-right: 5px;
}    

.separator {
    color:#949494;
    display: inline-block;
    padding: 0 10px; 
}

.mainmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right
}

.mainmenu li {
    display: inline-block;
    position: relative;
}
.mainmenu li a{
    color: #222;
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 30px 20px;
}

.mainmenu li:hover > a,.current_page_item {
    background-color: #f4f4f4;
    text-decoration: none;
}

.logo {
    padding: 12px 0;
    text-transform: uppercase;
}
.logo a {
    color: #494949;
}

.logo h1 {
    border: 3px solid #494949;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px 15px;
}

.header-search-bar {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}

.single-slide-item {
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    color: #fff;
    font-size: 24px;
    height: 590px;
}

.single-slide-item h2 {
    font-size: 60px;
    margin: 0 0 30px;
}

.slide-item-table {
    display: table;
    height: 100%;
    width: 100%;
}

.slide-item-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.factory-btn {
    color: #222;
    background: #f7be49;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 20px;
    text-transform: uppercase;
}

.factory-btn.slide-btn {
    margin-top: 20px;
}

.factory-content-block{
    padding: 100px 0;
}

.homepage-slides .owl-nav div {
    border: 2px solid;
    color: #fff;
    font-size: 19px;
    height: 40px;
    left: 50px;
    line-height: 35px;
    margin-top: -20px;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
}
.homepage-slides .owl-nav div.owl-next {
    left: auto;
    right: 50px;
}
.homepage-slides .owl-nav div:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.homepage-slides-wrapper {
    position: relative;
}
.factory-slide-preloader-wrap {
    background: #f7be49 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 999;
}
.factory-slide-preloader-wrap .spinner {
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
}

.service-item-bg {
    background-color: #ddd;
    background-position: center;
    background-size: cover;
    height:180px;
}

.service-readmore-btn i.fa {
    padding-left: 5px;
}

.service-readmore-btn {
    font-weight: 700;
    color: #222;
}

.single-smal-service-item {
    border-bottom: 1px solid #e9e9e9;
    color: #222;
    display: block;
    margin-bottom: 25px;
    padding-bottom: 25px;
    font-size: 14px;
    line-height: 23px;
}

.single-smal-service-item:hover {
    color: #222;
    opacity: 0.8;
    text-decoration: none;
}

.single-smal-service-item img {
    float: left;
    margin-right: 15px;
}

.single-smal-service-item h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px;
}

.single-smal-service-item p:last-child {
    margin: 0;
}

.factory-cta-area {
    background: #222;
    color: #fff;
    padding: 40px 0;
}

.factory-cta-area h2 {
    margin: 9px 0;
}

.who-we-are-text {
    padding: 0 40px;
}

.single-promo-item {
    margin-top: 70px;
    padding-left: 45px;
    position: relative;
}

.single-promo-item i.fa {
    border: 2px solid #f7be49;
    border-radius: 50%;
    color: #f7be49;
    left: 0;
    line-height: 22px;
    height: 25px;
    position: absolute;
    top: 0;
    text-align: center;
    width: 25px; 
}

.factory-content-block.secton-gray {
    background-color: #f2f5f7;
}

.check-list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 30px;
    font-weight: 700;
    margin-top: 20px;
}
.check-list li:before {
    content:'\f00c';
    font-family: fontawesome;
    color:#f7be49;
    padding-right: 9px;
}

.section-title {
    max-width: 415px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.section-title h3 {
    margin: 0;
    line-height: 31px;
}

.single-boxed-item {
    color:#6e6e6e;
    display: block;
    margin-bottom: 30px;
}

.single-boxed-item:hover {
    text-decoration: none;
    opacity: 0.8;
}

.single-boxed-item h4 {
    color: #222;
    font-weight: 700;
    margin: 0 0 10px;
}

.boxed-preview {
    height: 180px;
    margin-bottom: 20px;
    background-size: cover;
    background-color: #ddd;
    background-position: center center;
}
 
.factory-content-block .testimonial-area {
    border-top: 1px solid #ddd;
    padding: 80px 0;
}

.testimonial-content {
    font-style: italic;
}

.testimonial-content i.fa {
    font-size: 150%;
}

.single-testimonial-item {
    color: #666;
    margin-bottom: 30px;
}

.single-testimonial-item h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0 0;
}

.single-testimonial-item h4  span{
    font-size: 14px;
    font-weight: normal;
    display: block;
    margin-top: 10px;
}

.footer-top-area {
    background: #222222 none repeat scroll 0 0;
}
.footer-top-area,
.footer-top-area a {
    color: #cacaca;
}
.footer-wid {
    padding: 80px 0;
}
.footer-logo {
    background: #fff none repeat scroll 0 0;
    color: #222;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 20px;
    padding: 10px 30px;
    text-transform: uppercase;
}
.footer-wid-title {
    color: #fff;
    font-size: 18px;
    margin: 0 0 20px;
}
.footer-wid ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-copyright-area {
    background: #1d1d1d none repeat scroll 0 0;
    color: #fff;
    padding: 15px 0;
}



/* about page */ 

.border-spacer-85 {
    border-bottom: 1px solid #eaeef1;
    padding-top: 65px;
    margin-bottom: 65px;
}

img {
    max-width: 100%;
}

.factory-content-block.secton-gray.factory-breadcrumb {
    color: #666;
    font-size: 13px;
    padding: 40px 0;
}

.factory-breadcrumb h2{
    color: #222;
    margin: 0 0 5px;
}

.factory-breadcrumb h3{
    color: #222;
    margin: 20px 0;
}

.single-team-item {
    background-color: #ddd;
    background-position: center;
    background-size: cover;
    height: 355px;
    float: left;
    position: relative;
    overflow: hidden;
    width: 33.333%;
}

.team-info-hover {
    bottom: -10px;
    color: #fff;
    font-size: 14px;
    left: 0;
    padding: 15px;
    position: absolute;
    opacity: 0;
    transition: .4s;
    visibility: hidden;
    z-index: -1;
    width: 100%;
    padding-top: 50px;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 46%, rgba(0, 0, 0, 1) 71%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 46%, rgba(0, 0, 0, 1) 71%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
}

.team-info-hover h3 {
    font-size: 22px;
    margin: 0 0 5px;
}

.single-team-item:hover .team-info-hover {
bottom: 0;
visibility: visible;
opacity: 1;
z-index: 9;
}

.factory-service-breadcrumb {
    padding: 40px 0;
}

.factory-service-breadcrumb h3 {
    margin: 0 0 10px;
}

.gallery-lightbox {
    display: block;
    margin-bottom: 30px;
    position: relative;
}

.gallery-lightbox i.fa {
    color: #fff;
    line-height: 20px;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    width: 20px;
}

.gallery-lightbox:hover i.fa {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    top:50%;
    
}

.gallery-lightbox:after {
    background: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: .3s;
    visibility: hidden;
    z-index: -1;
    width: 100%;
}

.gallery-lightbox:hover:after{
    opacity: .4;
    visibility: visible;
    z-index: 1;
}

.single-step-item {
    margin-top: 35px;
    padding-left: 55px;
    position: relative;
}
.single-step-item span.step-count {
    border: 2px solid;
    border-radius: 50%;
    display: inline-block;
    font-size: 18px;
    height: 35px;
    left: 0;
    line-height: 31px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 35px;
}
.single-step-item h3 {
    margin: 0 0 10px;
    text-transform: uppercase;
}
.single-step-item p:last-child {
    margin: 0;
}

.quote-title {
    background: #505050 none repeat scroll 0 0;
    color: #fff;
    padding: 20px;
}
.quote-title h3 {
    margin: 0 0 5px;
}
.get-quote-form {
    box-shadow: 0 0 7px #ccc;
    padding: 30px;
}
.get-quote-form label {
    display: block;
    font-weight: 400;
}
.get-quote-form input[type="text"],
.get-quote-form input[type="email"],
.get-quote-form input[type="tel"],
.get-quote-form textarea {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 7px;
    width: 100%;
}
.get-quote-form textarea {
    height: 110px;
}
.get-quote-form input[type="submit"] {
    border-bottom: 4px solid #d6a137;
    border-radius: 3px;
    color: #fff;
}
.get-quote-form input[type="submit"]:hover {
  border-color: #000;
  background-color: #666;
}
img.contact-banner {
    margin: 30px 0 10px;
}
.contact-heading {
    color: #9b9b9b;
    margin-top: 20px;
    text-transform: uppercase;
}
.bigger-text-link {
    color: #222;
    font-size: 24px;
    line-height: 30px;
}

.factorian-content-block {
    padding: 100px 0;
}

.responsive-menu-wrapper{
    display: none;
}

.gallery-lightbox img {
    width: 100%;
}
